{% extends "base.html" %}

{% block content %}
<span class="ml-4"><a href="{% url 'event-detail' event.id|stringformat:'s' %}" class="cursor-pointer hover:underline hover:decoration-yellow-400">Back</a></span>
<section id="{{ id }}" class="{{ id }} h-1/2 p-4 flex mx-auto gap-2 justify-center">
  {% for team in teams %}
  <article class="StackedListWrapper StackedListWrapper--hasScrollIndicator w-1/2 p-2 border-2 border-black rounded-lg shadow-[3px_3px_0px_1px_black]">
    <header class="StackedListHeader mb-4 border rounded-lg {% if team.label == 'a' %}bg-rose-400{% else %}bg-cyan-400{% endif %}">
      <h3 class="Heading Heading--size3 Heading--colorWhite text-center font-bold">{% if team.label == 'a' %}Team A{% else %}Team B{% endif %}</h3>
    </header>

    <ul class="StackedList StackedList--hasScroll h-screen">
      {% for n in team.rosters %}
      <li class="draggable-li cursor-pointer bg-white hover:bg-emerald-400 px-2 py-1 mb-2 border-2 border-black rounded-lg shadow-[3px_3px_0px_1px_black] w-max flex justify-center font-semibold text-center">{{n}}</li>
      {% endfor %}
    </ul>
  </article>
  {% endfor %}
</section>

<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable/build/umd/index.min.js"></script>
<script>
  const sortable = new Draggable.Sortable(document.querySelectorAll('ul.StackedList'), {
    draggable: 'li.draggable-li',
  });
</script>
{% endblock %}