{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="flex place-content-center">
  <div class="p-8 bg-white border-2 border-black rounded-lg shadow-[3px_3px_0px_1px_black] w-1/3">
    
    <div class="mb-6">
      <h2 class="text-2xl text-center font-semibold">{{event.title}}</h2>
      <h6 class="text-center">{{ event.event_date }}</h6>
    </div>
    {% if event.active and not event.finished %}
    <form method="post">
      {% csrf_token %}

      {% for f in form %}
      <div class="mb-4">
        <label class="block font-bold mb-1 mb-0 pr-4" for="{{ f.id_for_label }}">{{ f.label }}</label>
        {% if f.errors %}
          {% render_field f class="appearance-none rounded-md w-full py-2 px-4 border-2 border-black rounded-lg shadow-[3px_3px_0px_1px_black] leading-tight focus:outline-none focus:bg-white text-rose-400" %}
        {% else %}
          {% render_field f class="appearance-none rounded-md w-full py-2 px-4 border-2 border-black rounded-lg shadow-[3px_3px_0px_1px_black] leading-tight focus:outline-none focus:bg-white" %}
          {% for text in f %}
            <small class="text-gray-400">{{ f.help_text|safe }}</small>
          {% endfor %}
        {% endif %}

        {% for error in f.errors %}
        <small class="text-rose-400">{{ error }}</small>
        {% endfor %}
      </div>
      {% endfor %}

      <button name="signup"
        class="mt-2 p-2 text-emerald-950 font-bold bg-emerald-400 hover:bg-cyan-400 cursor-pointer border-2 border-black rounded-lg shadow-[3px_3px_0px_1px_black]">
        <i class="fas fa-pen-to-square"></i> Sign Me Up!
      </button>

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{% if message.tags %}{{ message.tags }}{% endif %} text-center mt-4">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    </form>
    {% endif %}

    {% if not event.active and not event.finished %}
    <div class="text-center bg-rose-400 rounded-lg">
      <p class="text-sm font-semibold">Sorry, the registration phase is finished.</p>
    </div>
    {% endif %}

    {% if event.finished %}
    <div class="text-center bg-yellow-400 rounded-lg">
      <p class="text-sm font-semibold">The event is finished!</p>
    </div>
    {% endif %}
  </div>
  
</div>
{% endblock %}